{% for module in page.collection() %}
  {% if module.header.footermenu %}
    {% set current_page = (module.active or module.activeChild)
      ? 'active'
      : '' %}
    <li class="nav-item nav-item-toggable {{ current_module }}">
      <a class="nav-link" href="#{{ _self.pageLinkName(module.menu) }}">{{ module.menu }}</a>
    </li>
  {% endif %}
{% endfor %}