
<!-- Contact form -->
<section class="section contact" id="contact">
  <div class="container">

      <div class="form-text">
        {{ page.content }}
      </div>
      <div class="form-content">
          {% include "forms/form.html.twig" %}
      </div>
    </div>

</section>
