.hero p{ text-align: justify }
.hero {background-color: floralwhite}
body {background-color: floralwhite; font-size: .9rem}
#header {background-color: antiquewhite;}
a {&.u-url, {color: brown !important}}
a.visited {color:beige !important }
#breadcrumbs span:first-child { color: gray}
#breadcrumbs span, #breadcrumbs a {padding: 0}
.dropmenu ul li a.active, .dropmenu ul li a:focus, .dropmenu ul li a:hover {color: brown !important}
.card .card{ &-header, &-body, &-image {background-color:ghostwhite !important}}
#header a, span, h5 {font-family: "Advent Pro", sans-serif}
#header a { font-size: .99rem}
span { font-size: .96rem}
h5 { font-size: 1.2rem}
p { font-family: 'Titillium Web', sans-serif; font-size: .9rem}